.titolo
{text-align:center;
font-family:impact;
font-size:400%;
color:#D81111;
}

.sottotitolo
{text-align:center;
font-family:impact;
font-size:250%;
color:#EA4F07;
}

.text
{text-align:left;
font-family:verdana;
color:black;
}

.lighttext
{font-family:noto
color:grey;
}